html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-bottom: 10vh;
}

h1 {
  color: #76c7c0;
  font-size: 2.5em;
  font-weight: bolder;
}

form {
  margin-bottom: 40px;
}

#investment-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10vh;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-with-dropdown {
  display: flex;
  align-items: center;
}

.input-group {
  display: block;
  margin: 10px auto;
  width: 70%;
}

input {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
  height: 40px;
}

select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
  margin-left: 10px;
  height: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #76c7c0;
  color: #121212;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  width: 300px;
  align-self: center;
}

button:active {
  box-shadow: none;
}

.shadow {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1); 
}

input:hover, input:focus,
select:hover, select:focus {
  background-color: rgb(55, 55, 55);
}

button:hover, button:focus {
  background-color: #5da39a;
}

#results {
  display: none;
  height: auto;
  width: 100%;
  padding: 0 1em;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  height: 200px;
  width: 90%;
  margin: auto;
  margin-bottom: 8vh;
  box-sizing: border-box;
}

.card {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.card h2,
.card p {
  margin: 0;
  font-size: clamp(12px, 4vh, 16px);
  line-height: 2;
  max-width: 100%;
  text-align: center;
}

#card-1 {
  height: 100%;
  background-color: #C5FF95;
  color: #121212;
}

#card-2 {
  height: 85%;
  background-color: #1679AB;
}
  
#card-3 {
  height: 70%;
  background-color: #5debd899;
}

@media (min-width: 600px) {
  .card:hover {
    transform: translateY(-10px);
  }
}

@media (max-width: 600px) {
  .podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  #card-1 {
    order: 1;
    width: 100%;
  }

  #card-2 {
    order: 2;
    width: 90%;
  }

  #card-3 {
    order: 3;
    width: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.podium.fade-in {
  animation: fadeIn 1s ease-in-out;
}
